@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(253, 253, 253);
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
input {
  font-family: "Poppins", sans-serif;
}

/* navbar start */
.navbar-brand {
  color: white;
  background-color: black;
}
.navbar-brand:hover {
  color: white;
}
#lastname {
  background-color: white;
  color: black;
}
.navbar-brand,
#navbarNav {
  font-weight: bold;
}

.nav-link {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.nav-item :hover {
  color: white;
  background-color: black;
}
/* navbar end */

/* home container start */
#name {
  font-weight: bold;
  font-size: 75px;
}
/* home container end */

/* aboutme container start */

#aboutme {
  margin-top: 200px;
  margin-bottom: 200px;
}
#aboutmetitle {
  font-weight: bold;
  font-size: 40px;
  border-bottom: 1px solid black;
  border-width: lenght 10px;
}
#aboutmecontent {
  text-align: center;
  font-size: 20px;
}
/* aboutme container end */

/* skills container start */
#skills {
  background-color: rgb(29, 28, 28);
}
#skillstitle {
  color: black;
  font-weight: bold;
  font-size: 40px;
  text-decoration-line: underline;
}
#time {
  background-color: transparent;
  border: 0px;
  text-align: center;
  width: auto;
  height: 400px;
  margin-top: -100px;
  margin-bottom: 30px;
}
#skillsearned {
  text-align: justify;
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}
#skilllist > ul > li {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

/* skills container end */

/*my project start*/
#project {
  color: rgb(29, 29, 29);
  font-weight: bold;
  font-size: 40px;
  text-decoration: underline;
}
#projecttitle {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
#projectdescription {
  font-weight: bold;
  font-size: 15px;
  text-align: justify;
}

/*my project end*/

/*contact start*/
#contact {
  background-color: rgb(37, 37, 37);
  padding-top: 10px;
  padding-bottom: 10px;
}
.ending {
  color: white;
  font-weight: bold;
  font-size: 50px;
}
#contacttitle {
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin: 10px, 20px, 10px;
}
#contactcontent {
  color: white;
  text-align: left;
}
#contactsecond {
  border-left: 1px solid white;
}
#rights {
  color: white;
  font-size: 10px;
}
/*contact end*/
